body {
    padding-top: 60px;
    background-color: black;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 65px;
    }
}

.navbar-brand {
    font-weight: bold;
}

.navcustom {
    background-color: #f0db22;
    color: #fff7d2;
}

.inactive {
    color: black !important;
}

.inactive:hover {
    color: gray;
}

.active {
    color: black !important;
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff7d2;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff7d2;
}